body {
    background-image: url(images/yeraoftheox);
}



/* body {
    background-color: red;
    background-image: url(images/yeraoftheox);
}

#time, #date, #week-day, h2 {
    color:#eeee;
    text-align: left;
    margin: 0, 10px;
    font-size: 35px;

}

h1 {
    color: green;
    text-align: center;
    font-size: 40px;
} */


/* body {
    background-image: url(https://media.giphy.com/media/dw2yCF4MhcNmSMgpfe/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */