body {
    background-color: red;
}

#time, #date, #week-day, h2 {
    color:#eeee;
    text-align: left;
    margin: 0, 10px;
    font-size: 35px;

}

h1 {
    color: green;
    text-align: center;
    font-size: 40px;
}